*, *::before, *::after {
  box-sizing: border-box;
}

html, body, h1, h2, p, ul {
  margin: 0;
}

ul {
  padding: 0;
  list-style: none;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  line-height: 1.5;
}

@font-face {
  font-family: "ITC Garamond Narrow";
  font-weight: 400;
  font-style: normal;
  src: url(/assets/font/itc-garamond-narrow-book.woff2) format("woff2"), url(/assets/font/itc-garamond-narrow-book.woff) format("woff");
}
@font-face {
  font-family: "ITC Garamond Narrow";
  font-weight: 400;
  font-style: italic;
  src: url(/assets/font/itc-garamond-narrow-book-italic.woff2) format("woff2"), url(/assets/font/itc-garamond-narrow-book-italic.woff) format("woff");
}
@font-face {
  font-family: "ITC Garamond Narrow";
  font-weight: 300;
  font-style: normal;
  src: url(/assets/font/itc-garamond-narrow-light.woff2) format("woff2"), url(/assets/font/itc-garamond-narrow-light.woff) format("woff");
}
@font-face {
  font-family: "ITC Garamond Narrow";
  font-weight: 300;
  font-style: italic;
  src: url(/assets/font/itc-garamond-narrow-light-italic.woff2) format("woff2"), url(/assets/font/itc-garamond-narrow-light-italic.woff) format("woff");
}
@font-face {
  font-family: "ITC Garamond Narrow";
  font-weight: 700;
  font-style: normal;
  src: url(/assets/font/itc-garamond-narrow-bold.woff2) format("woff2"), url(/assets/font/itc-garamond-narrow-bold.woff) format("woff");
}
@font-face {
  font-family: "ITC Garamond Narrow";
  font-weight: 700;
  font-style: italic;
  src: url(/assets/font/itc-garamond-narrow-bold-italic.woff2) format("woff2"), url(/assets/font/itc-garamond-narrow-bold-italic.woff) format("woff");
}
@font-face {
  font-family: "ITC Garamond Narrow";
  font-weight: 900;
  font-style: normal;
  src: url(/assets/font/itc-garamond-narrow-ultra.woff2) format("woff2"), url(/assets/font/itc-garamond-narrow-ultra.woff) format("woff");
}
@font-face {
  font-family: "ITC Garamond Narrow";
  font-weight: 900;
  font-style: italic;
  src: url(/assets/font/itc-garamond-narrow-ultra-italic.woff2) format("woff2"), url(/assets/font/itc-garamond-narrow-ultra-italic.woff) format("woff");
}
html {
  --cursor: -webkit-image-set(url(/assets/cursors/cursor-dark.png) 1.5x) 2 4, default;
  --cursor-pressed: -webkit-image-set(url(/assets/cursors/cursor-dark-pressed.png) 1.5x) 2 4, default;
  --cursor-hand: -webkit-image-set(url(/assets/cursors/hand-dark.png) 1.5x) 10 2, pointer;
  --cursor-hand-pressed: -webkit-image-set(url(/assets/cursors/hand-dark-pressed.png) 1.5x) 10 2, pointer;
}

body, input[type=range], button {
  cursor: var(--cursor);
}

body:active, input[type=range]:active, button:active {
  cursor: var(--cursor-pressed);
}

a, table th {
  cursor: var(--cursor-hand);
}

a:active, table th:active {
  cursor: var(--cursor-hand-pressed);
}

p, h1, h2, h3, h4, h5 {
  cursor: text;
}

:root {
  --max-width: 650px;
  --min-width: 350px;
  --font-family-sans: "-apple-system", "BlinkMacSystemFont", "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
  --font-family-mono: "SFMono-Regular", "Menlo", "Monaco", "Consolas", "Liberation Mono", "Courier New", monospace;
  --font-family-title: "ITC Garamond Std", "ITC Garamond Narrow";
  --font-family-serif: "IBM Plex Serif", serif;
  --font-color-regular: #000000;
  --font-size-regular: 16px;
  --font-size-quote: 18px;
  --color-background: #FFFFFF;
  --color-accent-primary: #FFF0ED;
  --color-accent-secondary: #C5B5FF;
  --color-link-primary: #FFF0ED;
  --color-link-secondary: #A38BF9;
  --tagline-text-color: #5b5b5b;
}

html {
  background-color: white;
}

* {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  border: 0;
  box-sizing: border-box;
  color: inherit;
  margin: 0;
  outline: none;
  padding: 0;
}

mark {
  background: transparent;
  display: flex;
  flex-direction: column;
}

mark::after {
  z-index: -1;
  content: "";
  margin-top: -30px;
  border-radius: 10px 0 0 10px;
  display: block;
  height: 15px;
  bottom: 0;
  background-color: transparent;
  background-image: linear-gradient(90deg, var(--color-accent-secondary) 70%, var(--color-background) 100%);
  background-repeat: no-repeat;
  transform-origin: center left;
  transform: rotate(1.3deg);
}

a {
  position: relative;
  display: inline-block;
  text-decoration: none;
}
a.long::after {
  transform: rotate(-0.5deg);
}
a::after {
  position: absolute;
  height: 3px;
  width: 100%;
  left: 0;
  bottom: 3px;
  z-index: -1;
  content: "";
  transition: height 0.2s ease-out, opacity 0.2s ease-out;
  background-image: linear-gradient(60deg, var(--color-accent-primary) 0%, var(--color-accent-secondary) 100%);
  background-repeat: no-repeat;
  transform-origin: center right;
  transform: rotate(-1.3deg);
  border-radius: 0 10px 10px 0;
}
a:hover::after {
  height: 9px;
  opacity: 0.6;
}

body {
  color: var(--font-color-regular);
  font-family: var(--font-family-sans);
  font-size: var(--font-size-regular);
  display: flex;
  justify-content: center;
  background-color: white;
  z-index: -2;
  position: relative;
}

main {
  min-width: var(--min-width);
  max-width: var(--max-width);
}
main .back {
  margin-bottom: 15px;
  font-weight: 400;
}

code {
  font-family: var(--font-family-mono);
}

footer {
  padding-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: var(--max-width);
  font-size: 80%;
  color: var(--tagline-text-color);
}
footer .ai-free {
  padding: 3px 6px;
  background-color: #8765FF;
  border-radius: 3px;
  color: white;
  font-size: 90%;
  display: inline-flex;
  align-items: center;
  justify-items: center;
  line-height: 15px;
  text-transform: uppercase;
  letter-spacing: 5%;
  text-decoration: none;
}

.lang {
  --ruby: #701516;
  --objc: #438EFF;
  --js: #978D12;
  --ts: #3178C6;
  --golang: #375EAB;
  --python: #3572A5;
  --clojure: #db5855;
  --c: #555555;
  --rust: #C17C53;
  --swift: #F05138;
  --kotlin: #945DFF;
}

.lang.ruby {
  color: var(--ruby);
}
.lang.objc {
  color: var(--objc);
}
.lang.js {
  color: var(--js);
}
.lang.ts {
  color: var(--ts);
}
.lang.golang {
  color: var(--golang);
}
.lang.python {
  color: var(--python);
}
.lang.clojure {
  color: var(--clojure);
}
.lang.c {
  color: var(--c);
}
.lang.rust {
  color: var(--rust);
}
.lang.swift {
  color: var(--swift);
}
.lang.kotlin {
  color: var(--kotlin);
}

body.home {
  display: flex;
  align-items: center;
}

main.home {
  max-width: 600px;
  margin-bottom: 30px;
  height: auto;
}
main.home .hello {
  display: flex;
  align-items: center;
  color: var(--tagline-text-color);
}
main.home .hello span {
  font-size: 28px;
  font-weight: 500;
  letter-spacing: -1px;
  margin-top: 5px;
}
main.home h1 {
  display: inline-block;
  font-family: var(--font-family-title);
  font-weight: 400;
  font-size: 79px;
  color: var(--tagline-text-color);
  letter-spacing: -2.7px;
  line-height: 71px;
  width: auto;
}
main.home content {
  display: block;
}
main.home p {
  text-indent: 15px;
}
main.home p.tagline {
  font-size: 20px;
  text-indent: unset;
  margin-bottom: 12px;
  color: var(--tagline-text-color);
}
main.home nav {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
}
main.home nav h3 {
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 3.5px;
  font-size: 11px;
  color: var(--tagline-text-color);
  margin-bottom: 5px;
}
main.home nav ul li {
  margin-bottom: 5px;
}
main.home nav ul + h3 {
  margin-top: 25px;
}
main.home nav.single {
  justify-content: unset;
}
main.home nav .article {
  margin-bottom: 10px;
}
main.home nav .article a {
  font-weight: 500;
}
main.home nav .article .meta {
  font-size: 12px;
}
main.home .projects .group {
  display: flex;
}
main.home .projects .group .year {
  display: flex;
  margin-top: 3px;
  margin-right: 8px;
  font-size: 13px;
  letter-spacing: 1px;
  color: var(--tagline-text-color);
}
main.home .projects .group .year.empty {
  opacity: 0;
}
main.home .projects .group .items {
  flex-grow: 1;
}
main.home .projects .group .divider {
  width: 100%;
  display: flex;
  height: 24px;
  align-items: center;
}
main.home .projects .group .divider::after {
  flex-grow: 1;
  content: "";
  height: 1px;
  background-color: rgba(91, 91, 91, 0.2588235294);
}
main.home .project {
  margin-bottom: 4px;
}
main.home .clear {
  color: white;
  cursor: var(--cursor);
}

body.post {
  padding-top: 50px;
  display: flex;
}

main.post {
  margin-bottom: 50px;
}
main.post h1 {
  display: inline-block;
  font-family: var(--font-family-title);
  font-weight: 400;
  font-size: 50px;
  color: var(--tagline-text-color);
  line-height: 52px;
  width: auto;
}
main.post img {
  cursor: var(--cursor);
}
main.post hr {
  margin: 10px 0 20px;
  height: 1px;
  background: #ccc;
}
main.post .meta {
  margin-bottom: 12px;
}
main.post .content h1, main.post .content h2, main.post .content h3, main.post .content h4, main.post .content h5 {
  margin-top: 15px;
  font-family: var(--font-family-title);
  font-weight: 400;
}
main.post .content h2 {
  font-size: 40px;
}
main.post .content h3 {
  font-size: 30px;
}
main.post .content h4 {
  font-size: 25px;
}
main.post .content h5 {
  font-size: 20px;
}
main.post .content a {
  text-indent: 0;
}
main.post .content p {
  text-indent: 13px;
  padding-bottom: 15px;
}
main.post .content summary > p {
  display: inline-block;
  text-indent: 0;
}
main.post .content section.attention {
  position: relative;
  padding-left: 18px;
}
main.post .content section.attention::before {
  left: -3px;
  position: absolute;
  content: " ";
  height: 100%;
  width: 7px;
  border-radius: 10px;
  --stripe-a: #ffd67b;
  --stripe-b: #404040;
  background: repeating-linear-gradient(45deg, var(--stripe-a), var(--stripe-a) 10px, var(--stripe-b) 10px, var(--stripe-b) 20px);
}
main.post .content blockquote {
  padding-left: 16px;
  position: relative;
  font-style: italic;
  color: #505050;
  font-family: var(--font-family-serif);
  font-size: var(--font-size-quote);
  letter-spacing: 0.001rem;
  margin-bottom: 15px;
}
main.post .content blockquote::before {
  left: -2px;
  position: absolute;
  display: block;
  content: " ";
  background-image: linear-gradient(60deg, var(--color-accent-primary) 0%, var(--color-accent-secondary) 100%);
  height: 100%;
  width: 5px;
  border-radius: 8px;
}
main.post .content blockquote p {
  padding-bottom: 8px;
}
main.post .content img {
  max-width: 100%;
}
main.post .content pre.highlight {
  padding: 10px;
  max-width: 100%;
  overflow: scroll;
  border: 1px solid #ccc;
  border-radius: 4px;
}
main.post .content pre.highlight code {
  border: none;
  padding: 0;
}
main.post .content ul, main.post .content ol {
  padding-left: 30px;
}
main.post .content ul + p, main.post .content ol + p {
  margin-top: 15px;
}
main.post .content ul {
  list-style: disc;
}
main.post .content ol {
  list-style: auto;
}
main.post .content ol ol {
  list-style: lower-latin;
}
main.post .content li + p {
  margin-top: 15px;
}
main.post .content code {
  padding: 1px 2px;
  border: 1px solid #ccc;
  border-radius: 3px;
  font-size: 85%;
}
main.post .content .redacted {
  padding: 1px 2px;
  border: 1px solid black;
  border-radius: 3px;
  font-size: 85%;
  background-color: black;
}
main.post .content .redacted::selection {
  color: black;
  background-color: black;
}

body.articles {
  padding-top: 50px;
  display: flex;
}

main.articles {
  margin-bottom: 50px;
}
main.articles h1 {
  display: inline-block;
  font-family: var(--font-family-title);
  font-weight: 400;
  font-size: 50px;
  color: var(--tagline-text-color);
  line-height: 52px;
  width: auto;
}
main.articles .article {
  margin-bottom: 10px;
}
main.articles .article a {
  font-weight: 500;
}
main.articles .article .meta {
  font-size: 12px;
}

.highlight {
  font-size: 13px;
  margin-bottom: 20px;
}

.highlight code {
  line-height: 0;
  font-weight: 400;
}

.highlight .hll {
  background-color: #ffffcc;
}

.highlight .c {
  color: #999988;
  font-style: italic;
} /* Comment */
.highlight .err {
  color: #a61717;
  background-color: #e3d2d2;
} /* Error */
.highlight .k {
  color: #000000;
  font-weight: bold;
} /* Keyword */
.highlight .o {
  color: #000000;
  font-weight: bold;
} /* Operator */
.highlight .cm {
  color: #999988;
  font-style: italic;
} /* Comment.Multiline */
.highlight .cp {
  color: #999999;
  font-weight: bold;
  font-style: italic;
} /* Comment.Preproc */
.highlight .c1 {
  color: #999988;
  font-style: italic;
} /* Comment.Single */
.highlight .cs {
  color: #999999;
  font-weight: bold;
  font-style: italic;
} /* Comment.Special */
.highlight .gd {
  color: #000000;
  background-color: #ffdddd;
} /* Generic.Deleted */
.highlight .ge {
  color: #000000;
  font-style: italic;
} /* Generic.Emph */
.highlight .gr {
  color: #aa0000;
} /* Generic.Error */
.highlight .gh {
  color: #999999;
} /* Generic.Heading */
.highlight .gi {
  color: #000000;
  background-color: #ddffdd;
} /* Generic.Inserted */
.highlight .go {
  color: #888888;
} /* Generic.Output */
.highlight .gp {
  color: #555555;
} /* Generic.Prompt */
.highlight .gs {
  font-weight: bold;
} /* Generic.Strong */
.highlight .gu {
  color: #aaaaaa;
} /* Generic.Subheading */
.highlight .gt {
  color: #aa0000;
} /* Generic.Traceback */
.highlight .kc {
  color: #000000;
  font-weight: bold;
} /* Keyword.Constant */
.highlight .kd {
  color: #000000;
  font-weight: bold;
} /* Keyword.Declaration */
.highlight .kn {
  color: #000000;
  font-weight: bold;
} /* Keyword.Namespace */
.highlight .kp {
  color: #000000;
  font-weight: bold;
} /* Keyword.Pseudo */
.highlight .kr {
  color: #000000;
  font-weight: bold;
} /* Keyword.Reserved */
.highlight .kt {
  color: #445588;
  font-weight: bold;
} /* Keyword.Type */
.highlight .m {
  color: #009999;
} /* Literal.Number */
.highlight .s {
  color: #d01040;
} /* Literal.String */
.highlight .na {
  color: #008080;
} /* Name.Attribute */
.highlight .nb {
  color: #0086B3;
} /* Name.Builtin */
.highlight .nc {
  color: #445588;
  font-weight: bold;
} /* Name.Class */
.highlight .no {
  color: #008080;
} /* Name.Constant */
.highlight .nd {
  color: #3c5d5d;
  font-weight: bold;
} /* Name.Decorator */
.highlight .ni {
  color: #800080;
} /* Name.Entity */
.highlight .ne {
  color: #990000;
  font-weight: bold;
} /* Name.Exception */
.highlight .nf {
  color: #990000;
  font-weight: bold;
} /* Name.Function */
.highlight .nl {
  color: #990000;
  font-weight: bold;
} /* Name.Label */
.highlight .nn {
  color: #555555;
} /* Name.Namespace */
.highlight .nt {
  color: #000080;
} /* Name.Tag */
.highlight .nv {
  color: #008080;
} /* Name.Variable */
.highlight .ow {
  color: #000000;
  font-weight: bold;
} /* Operator.Word */
.highlight .w {
  color: #bbbbbb;
} /* Text.Whitespace */
.highlight .mf {
  color: #009999;
} /* Literal.Number.Float */
.highlight .mh {
  color: #009999;
} /* Literal.Number.Hex */
.highlight .mi {
  color: #009999;
} /* Literal.Number.Integer */
.highlight .mo {
  color: #009999;
} /* Literal.Number.Oct */
.highlight .sb {
  color: #d01040;
} /* Literal.String.Backtick */
.highlight .sc {
  color: #d01040;
} /* Literal.String.Char */
.highlight .sd {
  color: #d01040;
} /* Literal.String.Doc */
.highlight .s2 {
  color: #d01040;
} /* Literal.String.Double */
.highlight .se {
  color: #d01040;
} /* Literal.String.Escape */
.highlight .sh {
  color: #d01040;
} /* Literal.String.Heredoc */
.highlight .si {
  color: #d01040;
} /* Literal.String.Interpol */
.highlight .sx {
  color: #d01040;
} /* Literal.String.Other */
.highlight .sr {
  color: #009926;
} /* Literal.String.Regex */
.highlight .s1 {
  color: #d01040;
} /* Literal.String.Single */
.highlight .ss {
  color: #990073;
} /* Literal.String.Symbol */
.highlight .bp {
  color: #999999;
} /* Name.Builtin.Pseudo */
.highlight .vc {
  color: #008080;
} /* Name.Variable.Class */
.highlight .vg {
  color: #008080;
} /* Name.Variable.Global */
.highlight .vi {
  color: #008080;
} /* Name.Variable.Instance */
.highlight .il {
  color: #009999;
} /* Literal.Number.Integer.Long */
body.generic {
  padding-top: 50px;
  display: flex;
}
body.generic h1 {
  display: inline-block;
  font-family: var(--font-family-title);
  font-weight: 400;
  font-size: 50px;
  color: var(--tagline-text-color);
  line-height: 52px;
  width: auto;
}
body.generic .back + h1 {
  margin-top: 20px;
}
body.generic p {
  text-indent: 13px;
  margin-bottom: 15px;
}
body.generic p a {
  text-indent: 0;
}
body.generic pre.highlight {
  padding: 10px;
  max-width: 100%;
  overflow: scroll;
  border: 1px solid #ccc;
  border-radius: 4px;
}

body.projects {
  padding-top: 50px;
  display: flex;
}

main.projects {
  margin-bottom: 50px;
}
main.projects h1 {
  display: inline-block;
  font-family: var(--font-family-title);
  font-weight: 400;
  font-size: 50px;
  color: var(--tagline-text-color);
  line-height: 52px;
  width: auto;
}
main.projects .projects {
  display: flex;
  flex-direction: column;
}
main.projects .projects .group {
  display: flex;
}
main.projects .projects .group .year {
  display: flex;
  margin-top: 3px;
  margin-right: 8px;
  font-size: 13px;
  letter-spacing: 1px;
  color: var(--tagline-text-color);
}
main.projects .projects .group .year.empty {
  opacity: 0;
}
main.projects .projects .group .items {
  flex-grow: 1;
}
main.projects .projects .group .divider {
  width: 100%;
  display: flex;
  height: 24px;
  align-items: center;
}
main.projects .projects .group .divider::after {
  flex-grow: 1;
  content: "";
  height: 1px;
  background-color: rgba(91, 91, 91, 0.2588235294);
}
main.projects .projects .group .item {
  margin-bottom: 30px;
}
main.projects .projects .group .item header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main.projects .projects .group .item header .name-lang {
  display: flex;
  align-items: center;
}
main.projects .projects .group .item header .name-lang h1 {
  font-size: 30px;
  font-weight: 500;
  margin-bottom: 8px;
  margin-right: 8px;
}
main.projects .projects .group .item header .name-lang h1 mark::after {
  height: 8px;
  margin-top: -21px;
}
main.projects .projects .group .item header .name-lang code {
  margin-left: 1px;
}
main.projects .projects .group .item header .github-link {
  display: flex;
  align-items: center;
}
main.projects .projects .group .item header .github-link svg {
  margin-right: 3px;
}

@media only screen and (min-width: 650px) and (max-height: 1000px) {
  main.home {
    margin-top: 200px;
  }
}
@media only screen and (max-width: 700px) {
  main.home {
    max-width: 350px;
    margin-top: 40px;
  }
  main.home h1 {
    margin-bottom: 10px;
  }
  main.home p.tagline {
    font-size: 15px;
    margin-bottom: 5px;
  }
  main.home nav {
    flex-direction: column;
    margin-top: 25px;
  }
  main.home nav content {
    margin-bottom: 30px;
  }
  main.home nav .projects {
    width: auto;
  }
}
@media only screen and (max-width: 400px) {
  main.home {
    min-width: 300px;
    max-width: 300px;
    margin-top: 0;
  }
  main.home h1 {
    font-size: 60px;
    line-height: 62px;
  }
  main.home .hello {
    align-items: baseline;
    margin-top: 10px;
  }
  main.home .hello span {
    font-size: 20px;
  }
  main.home p.tagline {
    font-size: 13px;
    margin-bottom: 10px;
  }
}
@media only screen and (max-width: 700px) {
  body.projects main.projects {
    max-width: 350px;
    margin-top: 40px;
  }
  body.projects main.projects .projects .group {
    flex-direction: column;
  }
  body.projects main.projects .projects .group .item header {
    display: block;
  }
  body.projects main.projects .projects .group .item header .name-lang {
    display: block;
  }
  body.projects main.projects .projects .group .item header .name-lang h1 {
    margin-bottom: 0;
  }
  body.projects main.projects .projects .group .item header .name-lang h1 mark {
    display: flex;
  }
  body.projects main.projects .projects .group .item header .name-lang span {
    display: flex;
  }
  body.projects main.projects .projects .group .item header .name-lang code {
    margin-left: 4px;
  }
  body.projects main.projects .projects .group .item header .meta {
    margin-bottom: 12px;
  }
}
@media only screen and (max-width: 400px) {
  body.projects main.projects {
    margin-top: 0;
    max-width: 300px;
    min-width: 300px;
  }
}
@media only screen and (max-width: 700px) {
  body.articles main.articles {
    max-width: 350px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 400px) {
  body.articles main.articles {
    margin-top: 0;
    max-width: 300px;
    min-width: 300px;
  }
}
@media only screen and (max-width: 700px) {
  body.post main.post {
    max-width: 350px;
    margin-top: 40px;
  }
}
@media only screen and (max-width: 400px) {
  body.post main.post {
    min-width: 300px;
    max-width: 300px;
    margin-top: 0;
  }
  body.post main.post h2 {
    line-height: 40px;
  }
  body.post main.post h1 {
    font-size: 45px;
    line-height: 45px;
  }
  body.post main.post img {
    min-width: 300px;
    max-width: 300px;
    width: 300px !important;
    position: relative;
    left: -15px;
  }
}
@media only screen and (max-width: 700px) {
  body.generic main.generic {
    max-width: 350px;
    margin-top: 40px;
  }
}

/*# sourceMappingURL=main.css.map */