.vermelho-habilidade{
    border-color: rgb(227 79 38 / 50%) !important;
    cursor:context-menu;
    
}
.vermelho-habilidade:hover{
    background-color: rgb(227 79 38 / 12%) !important;
    
}
.azul-habilidade{
    border-color: rgb(53 114 181 / 50%) !important;
    cursor:context-menu;
    
}
.azul-habilidade:hover{
    background-color: rgb(53 114 181 / 12%) !important;
    
}
.amarelo-habilidade{
    border-color: rgb(247 223 30 / 50%) !important;
    cursor:context-menu;
    
}
.amarelo-habilidade:hover{
    background-color: rgb(247 223 30 / 12%) !important;
    
}

.azul-escuro-habilidade{
    border-color:rgb(58 116 165 / 50%) !important;
    cursor:context-menu;
    
}
.azul-escuro-habilidade:hover{
    background-color:  rgb(58 116 165 / 12%)!important;
}

.azul-claro-habilidade{
    border-color: rgb(0 153 255 / 50%) !important;
    cursor:context-menu;
    
}
.azul-claro-habilidade:hover{
    background-color: rgb(0 153 255 / 12%) !important;
}

.roxo-habilidade{
    border-color: rgb(196 59 173 / 50%) !important;
    cursor:context-menu;
    
}
.roxo-habilidade:hover{
    background-color: rgb(196 59 173 / 12%) !important;
}
.verde-habilidade{
    border-color: rgb(61 220 132 / 50%) !important;
    cursor:context-menu;
    
}
.verde-habilidade:hover{
    background-color: rgb(61 220 132 / 12%) !important;
}
.laranja-habilidade{
    border-color: rgb(252 109 38 / 50%) !important;
    cursor:context-menu;
    
}
.laranja-habilidade:hover{
    background-color: rgb(252 109 38 / 12%) !important;
    
}
.vermelho-escuro-habilidade{
    border-color: rgb(234 46 47 / 50%) !important;
    cursor:context-menu;
    
}
.vermelho-escuro-habilidade:hover{
    background-color: rgb(234 46 47 / 12%) !important;
    
}